/* Main */
.main {
    padding: 0 40px;
    width: calc(100% - 80px);
    height: 100%;
    display: grid;
    grid-template-rows: auto auto 1fr;
}

.main .new-task {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    padding: 10px;
    margin: 20px 20px 0 0;
    cursor: pointer;
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: var(--title);
    justify-self: end;
    border: 1px solid var(--title);
    color: white;
}

.main .new-task:hover {
    background-color: white;
    color: var(--title);
}

.main .new-task img {
    width: 20px;
    height: 20px;
}

.main .container-title {
    margin-bottom: 10px;
    color: var(--title);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 2px solid var(--neutral-300);
}

.main .container-title .title {
    font-size: 48px;
    font-weight: 900;
    padding-bottom: 20px;
}

.main .container-title .delete-list-btn {
    margin-left: 10px;
    padding: 10px;
    color: red;
}

.main .container-title .delete-list-btn svg {
    width: 20px;
    height: 20px;
}

.main .container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(min-content, 40px));
    align-items: stretch;
    gap: 5px;
}

.main .container .task {
    border-bottom: 1px solid var(--neutral-300);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}

.main .container .task .task-details {
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-template-rows: 1fr auto;
    align-items: baseline;
    gap: 10px;
}

.main .container .task .task-details input {
    width: 20px;
    height: 20px;
    grid-row: 1 / -1;
}

.main .container .task .task-details .details-container {
    display: grid;
    grid-template-columns: auto 1fr;
    align-content: center;
}

.main .container .task .task-details .task-title {
    grid-column: 2 / -1;
    font-size: 1.4rem;
    line-height: 0;
    color: var(--neutral-700);
}
.main .container .task .task-details .task-date {
    background-color: var(--blue-400);
    border-radius: 20px;
    padding: 0 4px;
    margin: 8px 0;
    max-width: max-content;
    color: white;
    font-size: 0.8rem;
}
.main .container .task .task-details .task-priority {
    background-color: red;
    max-width: max-content;
    border-radius: 20px;
    padding: 0 4px;
    margin: 8px 0;
    color: white;
    font-size: 0.8rem;
}

.main .container .task .task-icons {
    display: flex;
    align-items: center;
}

.main .container .task .task-icons > *{
padding: 10px;
}