body {
    margin: 0;
    padding: 0;
}

#content {
    width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

/* newlistform */
.main .new-list-form {
    padding: 20px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: lightcoral;
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
}
/* newlistform */
.main .new-list-form input {
    margin: 10px 0;
}

/* newtaskform */
.main .new-task-form {
    padding: 20px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: lightcoral;
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
}

.main .new-task-form input {
    margin: 10px 0;
}

/* vewtaskpopout */
.main .view-task-container {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    background-color: lightcoral;
}

.main .view-task-container .view-task-header {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 1px -1px white;
    padding-bottom: 15px;
}

.main .view-task-container .view-task-header .view-task-header-title {
    display: flex;
    gap: 5px;
}

.main .view-task-container .view-task-header .cancel-view-task-btn {
    align-self: flex-end;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50px;
    background-color: whitesmoke;
    border: 1px solid lightblue;
}

.main .view-task-container .view-task-header .cancel-view-task-btn:hover {
    background-color: lightblue;
}

.main .view-task-container .task-view-content {
    display: flex;
    justify-content: space-between;
}

/* global use */
.btn-primary {
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
    padding: 10px;
    background-color: lightblue;
}

.btn-primary:hover {
    background-color: rgb(144, 204, 224);
}
