@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap");

:root {
    --neutral-50: #fafafa;
    --neutral-100: #f5f5f5;
    --neutral-200: #e5e5e5;
    --neutral-300: #d4d4d4;
    --neutral-400: #a3a3a3;
    --neutral-500: #737373;
    --neutral-600: #525252;
    --neutral-700: #404040;
    --neutral-800: #262626;
    --neutral-900: #171717;

    --blue-50: #eff6ff;
    --blue-300: #93c5fd;
    --blue-400: #60a5fa;
    --blue-500: #3b82f6;
    --blue-700: #1d4ed8;

    --title: #017aff;
    --card: #cfcfd0;

    --font: "Concert One", cursive, sans-serif;
    --font-title: "Mitr", sans-serif;
}

* {
    font-family: var(--font-title);
    margin: 0;
    padding: 0;
}

#content {
    width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.new-list-form-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}

/* newlistform */
.main .new-list-form {
    padding: 20px;
    background-color: lightcoral;
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
}
/* newlistform */
.main .new-list-form input {
    margin: 10px 0;
}

.new-task-form-container {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}

/* newtaskform */
.main .new-task-form {
    padding: 20px;
    background-color: lightcoral;
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
}

.main .new-task-form input {
    margin: 10px 0;
}

/* vewtaskpopout */
.main .view-task-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}

.main .view-task-container .view-task-card {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50%;
    background-color: lightcoral;
}

.main .view-task-container .view-task-header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 1px -1px var(--title);
}

.main .view-task-container .view-task-header .view-task-header-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.main .view-task-container .view-task-header .view-task-header-title .list-name {
    background-color: rgba(255, 0, 0, 0.231);
    padding: 5px;
    border-radius: 20px;
}

.main .view-task-container .view-task-header .view-task-exit {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: var(--title);
    border-radius: 50px;
    color: white;
}

.main .view-task-container .view-task-header .view-task-exit:hover {
    background-color: white;
    color: var(--title);
}

.main .view-task-container .task-view-content {
    display: flex;
    justify-content: space-between;
}

/* global use */
.btn-primary {
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
    padding: 10px;
    background-color: lightblue;
}

.btn-primary:hover {
    background-color: rgb(144, 204, 224);
}
