@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap");

:root {
    --neutral-50: #fafafa;
    --neutral-100: #f5f5f5;
    --neutral-200: #e5e5e5;
    --neutral-300: #d4d4d4;
    --neutral-400: #a3a3a3;
    --neutral-500: #737373;
    --neutral-600: #525252;
    --neutral-700: #404040;
    --neutral-800: #262626;
    --neutral-900: #171717;

    --blue-50: #eff6ff;
    --blue-300: #93c5fd;
    --blue-400: #60a5fa;
    --blue-500: #3b82f6;
    --blue-700: #1d4ed8;

    --title: #017aff;
    --card: #cfcfd0;

    --font: "Concert One", cursive, sans-serif;
    --font-title: "Mitr", sans-serif;
}

* {
    font-family: var(--font-title);
    margin: 0;
    padding: 0;
}

#content {
    width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.new-list-form-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}

/* newlistform */
.main .new-list-form {
    padding: 20px;
    background-color: white;
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 4px 4px var(--neutral-500);
    border-radius: 20px;
}
/* newlistform */
.main .new-list-form input {
    margin: 10px 0;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 1px 1px var(--neutral-900);
    padding: 5px 5px;
}

.new-task-form-container {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}

/* newtaskform */
.main .new-task-form {
    padding: 20px;
    background-color: white;
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 4px 4px var(--neutral-500);
    border-radius: 20px;
}

.main .new-task-form input {
    margin: 10px 0;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 1px 1px var(--neutral-900);
    padding: 2px 5px;
}

.main .new-task-form textarea {
    margin: 10px 0;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 1px 1px var(--neutral-900);
    padding: 2px 5px;
}
.main .new-task-form select {
    margin: 10px 0;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 1px 1px var(--neutral-900);
    padding: 2px 5px;
}
/* vewtaskpopup */
.main .view-task-container,
.main .edit-task-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}

.main .view-task-container .view-task-card,
.main .edit-task-container .edit-task-card {
    width: 50%;
    height: 50%;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 4px 4px var(--neutral-500);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.main .view-task-container .view-task-header,
.main .edit-task-container .edit-task-header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 1px -1px var(--title);
}

.main .view-task-container .view-task-header .view-task-header-title,
.main .edit-task-container .edit-task-header .edit-task-header-title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.main .view-task-container .view-task-header .view-task-header-title .list-name,
.main .edit-task-container .edit-task-header .edit-task-header-title .list-name {
    background-color: rgba(255, 0, 0, 0.231);
    padding: 5px;
    border-radius: 20px;
}

.main .view-task-container .view-task-header .view-task-exit,
.main .edit-task-container .edit-task-header .edit-task-exit {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: var(--title);
    border-radius: 50px;
    color: white;
    border: 1px solid var(--title);
}
.main .view-task-container .view-task-header .view-task-exit,
.main .edit-task-container .edit-task-header .edit-task-exit {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: var(--title);
    border-radius: 50px;
    color: white;
    border: 1px solid var(--title);
}

.main .view-task-container .view-task-header .view-task-exit:hover,
.main .edit-task-container .edit-task-header .edit-task-exit:hover {
    background-color: white;
    color: var(--title);
}

.main .view-task-container .task-view-content,
.main .edit-task-container .task-edit-content {
    display: flex;
    justify-content: space-between;
}

.main .view-task-container .task-view-content input,
.main .edit-task-container .task-edit-content input,
.main .edit-task-container .task-edit-content textarea {
    margin: 10px 0;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 1px 1px var(--neutral-900);
    padding: 5px 5px;
}

/* global use */
.btn-primary {
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
    padding: 5px;
    border: none;
    background-color: var(--neutral-300);
    box-shadow: 0 2px 1px 2px var(--neutral-500);
}

.btn-primary:hover {
    box-shadow: 0 2px 1px 2px var(--neutral-900);
    background-color: var(--title);
    color: white;
}

body {
    overflow-y: auto;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.7);
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.9);
}

@media (max-width: 768px) {
    #content {
        grid-template-columns: 1fr;
    }

    .sidebar {
        position: absolute;
        z-index: 9999;
        display: none;
        width: max-content;
    }

    .main .hamburger {
        display: block;
    }

    .sidebar .hamburger {
        display: block;
    }

    .sidebar .logo > svg,
    .logo-text {
        display: none;
    }

    .main .wrapper {
        grid-template-columns: 1fr 1fr;
    }
}
